# Do not commit .env file
# .env file is used for local development
.env

# Do not commit the data folders
# Data folders are used for local development

data/mysql

# Exclude only the subfolders of the data/wordpress folder; Include the files in the data folder
data/wordpress/*


# Do not commit the .vscode folder
# .vscode folder is used for local development
.vscode
!.gitignore
!data/wordpress/style.css
!data/wordpress/creat_new_site.php
!data/wordpress/index.php
!data/wordpress/success.php
